@import "@/base.scss";

.select {
    :global {
        .ant-select-selector {
            background-color: #fff !important;
            border: 1px solid #6C7078 !important;
            height: 34px !important;
            display: flex;
            align-items: center;
        }

        .ant-select-dropdown {
            background-color: #fff !important;
        }

        .ant-select-selection-item {
            color: #000;
        }
    }
}

.addRecip {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .add {
        font-size: 25px;
        border-radius: 100%;
        background-color: var(--blue-color);
        margin-right: 10px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .password {
        color: var(--dark-color);
    }


}

.modal {
    :global {
        .ant-modal-footer {
            .ant-btn-default {
                span {
                    color: var(--dark-color);
                }
            }
        }
    }

    .listSecret {
        &>div>span {
            color: #000 !important;
        }
    }
}

.textInputLight {
    width: 100%;
}