@import "@/base.scss";

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0;
    height: 100%;

    @media screen and (max-width:600px) {
        padding: 100px 20px;
    }

    h3 {
        color: #000 !important;

    }

    input {
        width: 400px;
        text-indent: 6px;
    }

    .chooseBank {
        margin-top: 50px;

        .banks {
            .bank {
                cursor: pointer;
                border: 2px solid transparent;
                width: fit-content;
                margin-bottom: 20px;

                &:hover {
                    border: 2px solid #ccc;
                }
            }
        }
    }

    :global {
        .ant-typography {
            font-size: 1.6rem;
            color: #000;
            font-weight: 500;
            margin-bottom: 0;
            display: flex;
            align-items: center;

            .ant-typography-copy {
                margin-left: 8px;
            }

            svg {
                width: 30px;
                height: 30px;
                fill: rgb(93, 57, 236);
            }
        }
    }

}